# 
# K2HDKC SAMPLE CONFIGURATION FILE
#
# Copyright 2020 Yahoo Japan Corporation.
#
# K2HDKC is k2hash based distributed KVS cluster.
# K2HDKC uses K2HASH, CHMPX, FULLOCK libraries. K2HDKC supports
# distributed KVS cluster server program and client libraries.
#
# For the full copyright and license information, please view
# the license file that was distributed with this source code.
#
# AUTHOR:   Takeshi Nakatani
# CREATE:   Fri, Dec 18 2020
# REVISION:
#

#
# GLOBAL SECTION
#
[GLOBAL]
FILEVERSION		= 3
DATE			= Fri, 22 Jan 2021 11:05:00 +0900
GROUP			= TESTDKC
MODE			= SERVER
DELIVERMODE		= hash
MAXCHMPX		= 8
REPLICA			= 1
MAXMQSERVER		= 2
MAXMQCLIENT		= 2
MQPERATTACH		= 1
MAXQPERSERVERMQ		= 2
MAXQPERCLIENTMQ		= 1
MAXMQPERCLIENT		= 1
MAXHISTLOG		= 10000
PORT			= 8020
CTLPORT			= 8021
SELFCTLPORT		= 8021
RWTIMEOUT		= 100000
RETRYCNT		= 1000
CONTIMEOUT		= 500000
MQRWTIMEOUT		= 1000
MQRETRYCNT		= 10000
MQACK			= no
AUTOMERGE		= on
DOMERGE			= on
MERGETIMEOUT		= 0
SOCKTHREADCNT		= 4
MQTHREADCNT		= 4
MAXSOCKPOOL		= 10
SOCKPOOLTIMEOUT		= 0
SSL			= no
#SSL_VERIFY_PEER	= no
#CAPATH			= null
#SERVER_CERT		= null
#SERVER_PRIKEY		= null
#SLAVE_CERT		= null
#SLAVE_PRIKEY		= null
K2HFULLMAP		= on
K2HMASKBIT		= 4
K2HCMASKBIT		= 4
K2HMAXELE		= 4

#
# SERVER NODES SECTION
#
[SVRNODE]
NAME			= localhost
PORT			= 8020
CTLPORT			= 8021
SSL			= no

[SVRNODE]
NAME			= localhost
PORT			= 8022
CTLPORT			= 8023
SSL			= no

[SVRNODE]
NAME			= localhost
PORT			= 8024
CTLPORT			= 8025
SSL			= no

[SVRNODE]
NAME			= localhost
PORT			= 8026
CTLPORT			= 8027
SSL			= no

#
# SLAVE NODES SECTION
#
[SLVNODE]
NAME			= [.]*
CTLPORT			= 8031

#
# K2HDKC SECTION
#
[K2HDKC]
#RCVTIMEOUT		= 1000				### Default(1000), timeout ms for receiving command result.
#SVRNODEINI		= <file path>			### Default(empty = same this file)
#REPLCLUSTERINI		= <file path>			### Default(empty), for DTOR INI FILE because transaction chmpx is different from this file
							###                 everything about dtor setting is specified in replclusterini file.
							###                 If needs, you can set that dtor runs with plugin and putting file(transaction).
#DTORTHREADCNT		= 1				### Default(1), you MUST set same as the value in k2htpdtor configuration file
#DTORCTP		= path.so			### Default(k2htpdtor.so.1), custom transaction plugin path
K2HTYPE			= mem				### Default(file),  parameter can be set M/MEM/MEMORY / F/FILE / T/TEMP/TEMPORARY
#K2HFILE		= /var/lib/antpickax/k2hdkc/k2hdkc.k2h	### Default(k2hash file path), when file type
K2HFULLMAP		= on				### Default(on)
K2HINIT			= yes				### Default(no)
K2HMASKBIT		= 8
K2HCMASKBIT		= 4
K2HMAXELE		= 16
K2HPAGESIZE		= 128
#PASSPHRASES		= <pass phrase>			### Default(empty), many entry is allowed. set either the PASSPHRASES or PASSFILE
#PASSFILE		= <file path>			### Default(empty), set either the PASSPHRASES or PASSFILE
#HISTORY		= on				### Default(no), MUST DO SOME WORK FOR MAKING HISTORY KEY DATA TO OTHER SERVERS
#EXPIRE			= 300				### Default(no), MUST SPECIFY THIS VALUE
#ATTRPLUGIN		= <file path>			### Default(empty), many entry is allowed, and calling sequence is same keywords in this file
#MINTHREAD		= 1				### Default(1), minimum processing thread count
MAXTHREAD		= 20				### Default(100), maximum processing thread count
#REDUCETIME		= 30				### Default(30), time(second) for reducing processing thread to minimum thread count.

#
# Local variables:
# tab-width: 8
# c-basic-offset: 8
# End:
# vim600: noexpandtab sw=8 ts=8 fdm=marker
# vim<600: noexpandtab sw=8 ts=8
#
